.fondo{
background-image: url('../img/background.');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
/* HELPERS */

.pos-rel{
	position: relative;
}
.section{
	padding-top: 60px;
	padding-bottom: 60px;
}
.section-small{
	padding-top: 30px;
	padding-bottom: 30px;
}
.section-short{
	padding-top: 15px;
	padding-bottom: 15px;
}
.null-padding{
	padding: 0 !important;
}
.null-padding-side{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.null-padding-left{
	padding-left: 0 !important;
}
.null-padding-right{
	padding-right: 0 !important;
}
.null-padding-top{
	padding-top: 0 !important;
}
.null-padding-bottom{
	padding-bottom: 0 !important;
}
.va-middle{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
/* Forms */

.form-field-box .form-field{
	background-color: transparent;
	border: 0;
	border-radius: 0;
	border-bottom: solid 1px rgba(250, 250, 250, 0.4);
	padding: 15px 20px;
	padding-left: 40px;
	font-size: 14px;
	color: white;
	margin-bottom: 15px;
}
.form-field-box .field-icon{
	position: absolute;
	left: 0;
	top: 4px;
	opacity: 0.4;
}
.form-field-box .form-field:hover,.form-field:focus{
	border-bottom: solid 1px rgba(250, 250, 250, 1);
}

.form-field-box .form-field::placeholder{
	color: rgba(250, 250, 250, 0.4);
}

/* BUTTONS*/

/* LOGIN */

.login-page .logo-img{
	margin-bottom: 40px;
}

.login-page .nav-tabs{
	border-bottom: 0;
}
.login-page .nav-tabs .nav-item .nav-link{
	background-color: transparent;
	color: white;
	margin: 0;
	border-radius: 0;
	text-transform: uppercase;
}
.login-page .nav-tabs .nav-item .nav-link:hover{
	border: 0;
}
.login-page .nav-tabs .nav-item .nav-link.active{
	border-bottom: solid 2px #ba007c;
	background-color: rgba(250, 250, 250, 0.15	);
}
.login-page .send-button{
	margin-top: 15px;
}
.login-page .or{
	display: block;
	color: white;
	font-size: 14px;
	margin-bottom: 10px;
}
.login-page .fb-login{
	color: white;
	font-size: 16px;
}
.login-page .fb-login:hover{
	text-decoration: none;
}
.login-page .fb-login i{
	margin-right: 8px;
}
/* NAVBAR */
.navbar{
	margin-bottom: 0 !important;
	background-color: white !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	border-bottom: 0 !important;
}
.navbar-default .navbar-toggle{
	padding: 15px 10px !important;
	margin-top: 18px !important;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #6c2dba !important;
}
.navbar-default .navbar-nav>li>a{
	color: #6c2dba !important;
	transition: all 0.25s !important;
	margin-bottom: 0 !important;
	padding-top: 21px !important;
	padding-bottom: 21px !important;
}
.navbar-default .navbar-nav>li>a>span{
	color: #de5eff !important;
}
.navbar-default .navbar-nav>li>a:hover{
	box-shadow: inset 0 -3px 0 rgba(222, 94, 255, 0.6) !important;
}
.navbar-nav .open .dropdown-menu{
	background-color: rgba(255, 255, 255, 0.7) !important;
	color: #de5eff !important;
	padding: 0 !important;
	margin-top: 10px !important;
	border: 0 !important;
}
.navbar-nav .open .dropdown-menu>li>a{
	color: #6c2dba !important;
}
.navbar-nav .open .dropdown-menu:after{
	right: calc(50% - 6px);
	border-bottom: 6px solid rgba(255, 255, 255, 0.7);
}
.navbar-brand{
	margin-bottom: 0 !important;
	width: 120px !important;
	height: 78px !important;
	position: absolute !important;
	left: calc(50% - 60px) !important;
	margin-top: 10px !important;
}
/*Body*/
body{
	font-family: 'Montserrat', sans-serif !important;
	padding-top: 55px;
}
body.account-body{
	font-family: 'Montserrat', sans-serif;
	padding-top: 0px;
}
 .font{
 	display: inline-block;
 }
 .bg {
  width: 350px;
  height: 50px;
  border-radius: 25px;
  background-color: #00efaf;
}

img .logo{
 background-position: center;
 background-size: cover;
}

/* HEADER NUEVO */

header.main-header{
		transition: all 0.45s;
    position: fixed;
    width: 100%;
    z-index: 9999999;
    top: 0px;
		height: 80px;
    left: 0;
    background-color: #fff;
    border-bottom: solid 1px #EDEDED;
}

header.main-header .logo img{
	margin-top: 19px;
}

ul.header-menu li{
	float: left;
	margin: 0 10px;
	list-style: none;
}

ul.header-menu li a{
	padding: 30px 14px;
	text-align: center;
	color: #828690;
	font-size: 14px;
	display: inline-block;
	transition: all 0.25s;
}
ul.header-menu li.dropdown a.link{
	padding: 10px 14px;
	display: block;

}
ul.header-menu li a.active{
 	font-weight: bold;
 	color: #6c2dba;
	box-shadow: inset 0 -3px 0 rgb(222, 94, 255);
}
ul.header-menu li a i{
	color: #e070fb;
}

ul.header-menu li a:hover{
	text-decoration: none;
	color: #6c2dba;
	box-shadow: inset 0 -3px 0 rgba(222, 94, 255, 0.6);
}

/* DROPDOWN STYLES */

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    width: 100%;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content a{
	display: block;
	border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color: rgba(255, 255, 255, 0.08);
}

.dropdown:hover .dropdown-content a.link{
	color: rgba(255, 255, 255, 0.6);
	transition: all 0.25s;
	font-size: 14px;
}

.dropdown:hover .dropdown-content a.link:hover{
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.6);
}

/* Buttons */
	.button{
		text-decoration: none;
    font-size: 1.4em;
    line-height: 22px;
    background: #00efaf;
    padding: 10px 40px;
    color: #fff;
    display: inline-block;
    border: 0;
    transition: all 0.25s;
    text-align: center;
    position: relative;
    border-radius: 100px;
    margin-bottom: 5px;
		transition: all 0.25s;
	}
	.button:hover{
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
		text-decoration: none;
		color: white;
	}

/* Banner Home */
.banner-home{
		margin-bottom: 0;
    height: 80vh;
    max-height: 700px;
    overflow: hidden;
		background-size: cover;
		background-position: center;
}
.banner-home .container{
	max-width: 1000px;
}
.banner-home .title{
	margin-top: 0;
	margin-bottom: 30px;
	color: #6c2dba;
	font-weight: 300;
	line-height: 45px;
	font-size: 20px;
}
.h2 .strong
{
	font-size: 48px;
	color: rgba(149, 203, 209, 0.26);
}
.title-home{
	color: #6c2dba;
}
/* PRODUCT CARD*/
.novedades-productos{
	background-color: #f7f7f7;
}
.product-card{
	border-radius: 4px;
	transition: all 0.25s;
	margin-bottom: 15px;
}
.product-card:hover{
	-webkit-box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.15);
box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.15);
}
.product-card .product-img{
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	border: solid 1px #ececec;
	border-radius: 8px 8px 0 0;
	border-bottom: 0;
}
.product-card .content{
	padding: 16px;
	border: solid 1px #ececec;
	border-radius: 0 0 8px 8px;
}
.product-card .content h4,.product-card .content h6{
	display: inline-block;
	margin: 0;
	margin-bottom: 8px;
}
.product-card .content .info .title{
	font-weight: bold;
	transition: all 0.25s;
	font-size: 16px;
}
.product-card .content .info .subtitle{
	font-size: 14px;
	display: block;
}
.product-card .content .info .title a:hover{
	color: #6c2dba;
	text-decoration: none;
}
.product-card .content .price h4{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 22px;
	margin-bottom: 0;
	font-weight: bold
}
.product-card .content .action-buttons .button{
	padding: 10px 20px;
	font-size: 14px;
	line-height: normal;
	margin-bottom: 0;
}
.product-card .content .action-buttons .button:hover{
	transform: scale(1);
	transform: translateY(-4px);
	color:white;
}
.product-card .content .action-buttons .button:first-child{
	margin-right: 5px;
}
.product-card .content .action-buttons .button:last-child{
	background-color: #6c2dba;
}
.product-card .content .action-buttons .button i{
	margin-right: 5px;
	font-size: 14px;
}
/* Title Section*/
.title-section .title{
	color: #e070fb;
	font-size: 20px;
	margin-top: 0;
}
.title-section .title span{
	color: #6c2dba;
	font-weight: bold;
	padding-bottom: 20px;
	font-size: 28px;
}
.title-section hr{
	display: inline-block;
	background-color: #e070fb;
	width: 50px;
	height: 2px;
	margin: 0;
	margin-bottom: 25px;
}
/*NUESTROS CLIENTES*/
.distribuidores .clientes .logo-box{
	padding: 20px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.distribuidores .clientes .logo-box .logo-img{
	display: inline-block;
	max-width: 140px;
	height: auto;
	max-height: 70px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	transition: all 0.25s;
	opacity: 0.35;
}
.distribuidores .clientes .logo-box:hover .logo-img{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
	opacity: 1;
}
/*FOOTER*/
footer.main-footer{
	background-color: #6c2dba;
	height: auto;
	padding: 20px 0;
	border-top: dashed 2px #de5eff;
	box-shadow: inset 0 -6px 0 rgba(222, 94, 25, 0.3);
	margin: 0;
}
.main-footer .content span{
	position: relative;
	display: inline-block;
	line-height: 28px;
	margin-right: 15px;
	font-size: 18px;
}
.main-footer .content .social-icon{
	position: relative;
	display: block;
	display: inline-block;
	color:white;
	width: 32px;
	line-height: 30px;
	font-size: 16px;
	border: solid 1px white;
	opacity: 0.35;
	transition: all 0.25s;
	border-radius: 50px;
	margin: 0;
	margin-right: 10px;
}
.main-footer .content .social-icon:hover{
	opacity: 1;
	color: #6c2dba;
	background-color: white;
	transform: translateY(-3px);
}
/* CTA */
.call-to-action{
	background-size: cover;
	background-position: center;
	color: white;
}
.call-to-action .overlay{
	position: absolute;
	background: rgba(60,8,128,1);
background: -moz-linear-gradient(left, rgba(60,8,128,1) 0%, rgba(108,45,186,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(60,8,128,1)), color-stop(100%, rgba(108,45,186,1)));
background: -webkit-linear-gradient(left, rgba(60,8,128,1) 0%, rgba(108,45,186,1) 100%);
background: -o-linear-gradient(left, rgba(60,8,128,1) 0%, rgba(108,45,186,1) 100%);
background: -ms-linear-gradient(left, rgba(60,8,128,1) 0%, rgba(108,45,186,1) 100%);
background: linear-gradient(to right, rgba(60,8,128,1) 0%, rgba(108,45,186,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c0880', endColorstr='#6c2dba', GradientType=1 );
	width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	z-index: 2;
	opacity: 0.8;
}
.call-to-action .content{
	z-index: 999;
}
.call-to-action .content i{
	font-size: 40px;
	margin-bottom: 15px;
}
.call-to-action .content .title{
	margin-top: 0;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 20px;
}
.call-to-action .content p{
	max-width: 480px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 16px;
}
.call-to-action .content .button:hover{
	color: white;
}
/* DETALLE */
#infoproduct .title{
	color: #6c2dba;
}
#infoproduct .detail-item strong{
	color: #de5eff;
}
#infoproduct .product-img{
	max-width: 100%;
	max-height: 400px;
}
#infoproduct .button-sell{
	background-color: #6c2dba !important;
}
.title-color{
	color: #6c2dba !important;
}
.subtitle-color{
	color: #de5eff !important;
}
.bg-primary{
	background-color: #6c2dba !important;
	border-color: #6c2dba !important;
}
.bg-secondary{
	background-color: #00efaf !important;
	border-color: #00efaf !important;
}
.text-white{
	color: white !important;
}
/* RESPONSIVE */
@media screen and (max-width: 992px) {
	.navbar-brand{
		position: relative !important;
		width: 90px !important;
		height: 59px !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		margin-top: 8px !important;
		margin-left: 8px !important;
	}
}

@media screen and (max-width: 768px) {
	.navbar-brand{
		width: 90px !important;
		height: 59px !important;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
		margin-left: 0 !important;
	}
}
